body{
    font-family: Arial, sans-serif;
    text-align: center;
    color:rgb(255, 255, 255);
    margin: 1;
    padding: 2;
       background-image: url("icc.jpg");
    background-size: cover;
}


.title{
    margin-top: 50px;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 45px;
}

.card{
    background-color: rgb(0, 94, 255);
    width: 250px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 5px 8px rgb(255, 255, 255);
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.05);
}

.card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}

.card h2{
    margin: 10px 0;
}

.card p{
    font-size: 14px;
    color: #ffffff;
}
